Django>=4.2
djangorestframework>=3.14
django-cors-headers>=4.3
psycopg2-binary
dj-database-url
gunicorn
pillow>=10.0
numpy==1.23.5
https://github.com/google-coral/py-repo/raw/master/tflite-runtime/tflite_runtime-2.14.0-cp310-cp310-linux_x86_64.whl
requests>=2.31
python-dotenv>=1.0