--extra-index-url https://google-coral.github.io/py-repo/
Django>=4.2
djangorestframework>=3.14
django-cors-headers>=4.3
psycopg2-binary
dj-database-url
gunicorn
pillow>=10.0
numpy<2.0
tflite-runtime
requests>=2.31
python-dotenv>=1.0